.login {
    background-color: #1f1f1f; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
  }
  .login form {
    display: flex;
    flex-direction: column;
  }
  .login input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  